name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm -r dev:prepare
      - run: pnpm lint
      - run: pnpm test -- --coverage
      - run: pnpm build
      - run: pnpm example:build
      - run: pnpm test:types
      - run: npx publint
        working-directory: example
